/*
===================================================
Header
===================================================
*/

.head {
	height: 250px;
	background-color: #2ecc71;
	border-bottom: 10px solid #27ae60;
	position: relative;
	}
.nav {
	background-color: #34495e;
	border-bottom: 10px solid #2c3e50;
	height: 40px;
	text-align: right;
	}
.head h2 {
	color: white;
	bottom: 10px;
	left: 10px;
	position: absolute;
}
.nav a {
	text-decoration: none;
	color: white;
	padding: 10px 10px 10px 10px;
}
.main-column {
	width: 500px;
	background-color: white;
	margin: auto;
}
body {
	background-color: #95a5a6;
}